@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet")

html * {
    font-family: "Roboto";
}

#stars #star {
    font-size: 40px;
    cursor: pointer;
}

.responsive-img img {
    transition: all .2s ease-in;
}

.responsive-img img:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    opacity: .9;
}